.App {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(162,5,198,1) 40%, rgba(0,212,255,1) 100%); 
}
.navbar{
  position: relative;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
}
.navbar > img {
  object-fit: contain;
  height: 100px;
}