@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap");
*{
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: 0;
}

.navbar{
  position: relative;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  background: rgb(2,0,36);
}
.navbar > img {
  object-fit: contain;
  height: 100px;
}
.Home{
  color: aliceblue;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(162,5,198,1) 40%, rgba(0,212,255,1) 100%); 
}
.MovieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.Movie img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.Movie p {
  margin-top: 10px;
  text-align: center;
}
.movie-title{
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}
.MovieItem {
  display: flex;
  margin: 20px;
}

.MovieItem img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
}

.details {
  flex-grow: 1;
}

.details h2 {
  margin: 0;
  font-size: 24px;
}

.details p {
  margin: 10px 0;
  font-size: 18px;
}
.RatingStars {
  display: inline-block;
  font-size: 24px;
  color: #f2b01e;
}

.RatingStars .star {
  display: inline-block;
  font-size: inherit;
  transition: color 200ms;
}

.RatingStars .star:hover,
.RatingStars .star.filled {
  color: #ffdd00;
  cursor: pointer;
}